.txnheading{
    text-align: left;
}
.tableheading{
    background-color:orangered;
    color: white
}
.datarow{
    text-align: left
}
.breachtable{
    margin-left: 15%;
    width: 70%;
    text-align: center;
}
table tr th {
    border: solid 1px black;
    text-align: center;
}
table td{
    border: solid 1px black;
    text-align: center;
}
.tab{
    float:left;
}
.logout{
    margin-top: 0;
    float: right;
}
.historyheading{
    top:200px;
    float:center;
}

