
.purchaseform{
    position: relative;
    left:30%;
    width: 20%;
    text-align: center;
    margin-left: 10%;
}
h5 {
    color: orangered
}
input{
    width: 20px;
}
.updatedPrice{
    color: green;
}
.butgreen{
    background-color: green;
    height: 30px;
    width: 90px;
    color: white;
}
h7{
    color: red
}